body{
    text-align: center;
    width:500px; height:500px;
    padding-left:28%;
    padding-top: 40px;
}
img{
    height:200px; width:200px;
}
span{
    background-color: green; padding:5px; border:1px solid black; color:white; font-size: 12px;
}
button{
    padding:12px; background-color: pink; border:none; border-radius: 20px;
} 
button:hover{
    transform:scale(1.1);
}
button a{
    text-decoration: none; color:black; font-weight: bold;
}